@import "fonts";
@import "buttons";
@import "colors";

.edit {
    padding-top: 30px;
    
  &__title {
    @include bold-text;
    font-size: 34px;
    margin-right: 3%;
    margin-bottom: 15px;
    color: $main-red-color;
  }
  &__button-save {
    @include button-gray;
  }
  &__set {
    border-collapse: collapse;
    border: 1px solid lightgray; width: 900px; 
  }
  td {
    padding-left: 5px;
    height: 35px;
    border: 1px solid lightgray;
    font-size: 20px;
    color: grey;
    width: 33.33%;
  }
  th {
    padding-left: 5px;
    height: 35px;
    width: 33.33%;
    border: 1px solid lightgray;
    text-align: left;
  }
  &__additional-wrap {
    display: flex;
    flex-direction: row;
    p {
      color: graytext;
      @include small-text;
    }
  }
  input {
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   background-color: inherit; 
   font: inherit; 
   border: none;
  }
  &__button-add {
    @include button-gray;
    align-self: center;
    margin-right: 5px;
    padding: 5px 10px;
  }
}


