@import "fonts";
@import "buttons";

.rules {
  padding-top: 100px;
  text-align: center;

  &__title {
  @include bold-text;
  }

  &__description {
    @include regular-text;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 30px;

    height: 50px;

    text-align: center;

    border-radius: 5px;
    border: 2px transparent;
    border-style: solid;

    &:hover {
      border-color: #e2a0a1;
    }

    &:focus {
      border-color: #d74040;
    }
  }

  &__button {
    margin-top: 50px;
    @include button-gray;
    color: #ffffff;
    background-color: #df4e4e;
    @include regular-text;
    &:enabled:hover {
      background-color: #ff6969;
    }
    &:active {
      background-color: #af3636;
    }
    &:disabled {
      background-color: #D3D3D3;
    }
  }
}


